body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(120deg, #6a11cb, #2575fc);
    color: #333;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    color: white;
    padding: 15px 20px;
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 12px 18px;
    margin: 0 5px;
    font-weight: 500;
    border-radius: 5px;
    transition: background-color 0.4s ease, transform 0.3s ease;
}

.navbar a:hover:not(#Cart) {
    background-color: rgba(0, 0, 0, 0.7);
    transform: scale(1.05);
}

.navbar nav {
    display: flex;
    align-items: center;
}

.user {
    display: flex;
    align-items: center;
}

.contact-form {
    margin: 60px auto;
    width: 450px;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

.contact-form:hover {
    transform: translateY(-5px);
}

.contact-form h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #555;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
    border-color: #6a11cb;
    outline: none;
}

.contact-form input[type="submit"] {
    padding: 12px 25px;
    background-color: #6a11cb;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-form input[type="submit"]:hover {
    background-color: #4b0f97;
    transform: translateY(-2px);
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #6a11cb;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
    font-size: 20px;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#scrollToTopBtn.show {
    display: block;
    opacity: 1;
}

#scrollToTopBtn:hover {
    background-color: #4b0f97;
}

#responseMessage {
    color: #ff4b5c;
    font-size: 14px;
    margin-top: 15px;
    display: none;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}
